<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<footer class="footer">
    FUERZA AEREA
    <!-- <div class=" container-fluid">
        <ul class=" nav">
          <li class=" nav-item">
            <a class=" nav-link" >
              Fuerza Aérea Colombiana
            </a>
          </li>
        </ul>
        <div class=" copyright">
        
          <i class=" tim-icons icon-spaceship"> </i> by
          <a target="_blank"> CETAD </a>
        </div>
        <div class="images">
            <img class="cetad" src="../../../assets/images/cetad/Logotipohorus.png" alt="">
            <img class="cetad" src="../../../assets/images/cetad/cetad.png" alt="">
            <img class="horus" src="../../../assets/images/cetad/horusNewDarkTheme.png" alt="">
        </div>
    </div> -->
</footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->