.footer{
    width: 100%;
    height: auto;
    background-color:#222222 ;
    padding: 24px 0 24px 250px;
}
.images{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.cetad{
    width: 100px;
    height: 85px;
}

.horus{
    max-width: 15%;
    max-height: 15%;
    max-width: 10%;
    max-height: 10%;
}
